<div class="container">
    <h2>Содержимое корзины:</h2>

    <table class="table">
        <thead class="">
            <tr>
                <th scope="col">#</th>
                <th scope="col"></th>
                <th scope="col">Наименование</th>
                <th scope="col">Добавлено</th>
                <th scope="col">Цена</th>
                <th scope="col">Количество</th>
                <th scope="col">Сумма</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of gS.basketList; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>
                    <img src="{{ item.good.imageUrlSmall }}">
                </td>
                <td>
                    <input type="checkbox" [checked]="item.state" (change)="changeState($event, item.good)" class="form-check-input" id="exampleCheck1">{{ item.good.name }}</td>
                <td>{{ item.date | amTimeAgo | aliDate }}</td>
                <td>{{ item.good.price | pricePipe }}</td>
                <td>
                    <button class="btn" (click)="changeCount(item, 1)">+</button>
                    {{ item.count }}
                    <button class="btn" (click)="changeCount(item, -1)">-</button>
                </td>
                <td>{{ (item.count * item.good.price) | pricePipe }}</td>
                <td>
                    <button type="button" class="btn btn-success" (click)="addToLike(item)">В желаемое</button>
                </td>
                <td>
                    <button type=" button " class="btn btn-warning " (click)="deleteFromBasket(item) ">Убрать</button>
                </td>
            </tr>
        </tbody>
    </table>

    <form *ngIf="gS.basketList && gS.basketList.length>0">
        <div class="form-group">
            <label class="center-block">Фамилия Имя Отчество:
                <input name="fio" class="form-control" placeholder="Фамилия Имя Отчество">
            </label>
            <label class="center-block">Телефон:
                <input name="phone" type="text" class="form-control" placeholder="+7(123)4567-890" mask="+0(000)-0000-000s">
            </label>
            <label class="center-block">E-MAIL:
                <input name="email" type="email" class="form-control" placeholder="E-MAIL">
            </label>
            <label class="center-block">Адрес доставки:
                <input name="adress" class="form-control" placeholder="Адрес доставки">
            </label>
            <input name="comment" class="form-control" placeholder="Комментарий">
        </div>


        <button type="submit" class="btn btn-primary">Оформить</button>
    </form>
</div>