<div class="hinfo">

    <div>
        <button (click)="showPoolDown()">
            <img src="assets/love-letter.jpg">
        </button>

    </div>
    <div>
        {{ gS.likeList.length }} товара
    </div>&nbsp;
    <div>


        <a href="" routerLink="/basket">
            <img src="assets/basket.jpg">
        </a>


    </div>
    <div>
        В корзине
        <br> на сумму
    </div>
    <div>
        <a href="" routerLink="/basket">
            <b>{{gS.basketList.length}} товаров
                <br> {{ gS.basketSum() | pricePipe }}</b>
        </a>
    </div>
</div>